<div class="add-container">
    <h3>Add Item</h3>
    <div *ngIf="join.currentComponent === 'today_menu'">
      <input [(ngModel)]="name" placeholder="Dish Name" />
      <input [(ngModel)]="img" placeholder="Image URL" />
      <input [(ngModel)]="type" placeholder="Type" />
    </div>
  
    <div *ngIf="join.currentComponent === 'chefs'">
      <input [(ngModel)]="name" placeholder="Chef Name" />
      <input [(ngModel)]="img" placeholder="Image URL" />
      <input [(ngModel)]="speciality" placeholder="Speciality" />
      <input [(ngModel)]="role" placeholder="Role" />
    </div>
  
    <div *ngIf="join.currentComponent === 'ratedishes'">
      <input [(ngModel)]="name" placeholder="Dish Name" />
      <input [(ngModel)]="img" placeholder="Image URL" />
      <textarea [(ngModel)]="comment" placeholder="Comment"></textarea>
    </div>
  
    <button (click)="addItem()">Add</button>
  </div>
  
